//-------------------------//
//-----> Global
//-------------------------//

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $fPrimary;
  color: $cPrimary;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  font-weight: 900;
  font-size: 4.8rem;
  margin: 0;
}

h2 {
  font-size: 2.8rem;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.8rem;
  margin: 0 0 8px 0;
}

table {
  font-size: 1.8rem;
}

a {
  color: $cAction;
  text-decoration: none;
  transition: color 0.5s;

  &:hover,
  &:focus {
    color: $cAction2;
  }
}

.btn,
.btn-primary,
.button,
button {
  background-color: $cAction;
  color: $cW;
  border: none;
  outline: none;
  padding: 5px 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s;

  &:hover,
  &:focus {
    background: $cAction2;
    color: $cW;
  }

  &:disabled {
    background: #ccc;
  }
}

.btn-large {
  padding: 10px 30px;
  font-size: 1.8rem;
}

// Helper Classes
.block {
  display: block;
}

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.align-right {
  text-align: right;
}

.thin {
  font-weight: 300;
}

.small-title-caps {
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: block;
}

.c-secondary {
  color: $cSecondary;
}

.c-secondary-text {
  color: $cSecondaryText;
}

#message {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  background: $cAction;
  color: $cW;
  margin: 0;
  padding: 10px;
  font-weight: 300;
  transition: top 0.25s;

  &.visible {
    top: 0;
  }
}

.block {
  display: block;
}

.small {
  font-size: 1.2rem;
  margin: 10px;
}

.flex {
  display: flex;

  .col-50 {
    width: 50%;
    padding: 10px;
  }
}

header {
  overflow: hidden;
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(82,116,53,1) 0%,rgba(56,56,56,1) 100%);

  h1 {
    width: auto;
    line-height: 1;
    color: $cW;
    font-weight: 900;
    margin: 0 0 10px 0;
    padding: 0;

    a {
      color: $cW;
    }
  }

  i {
    color: $cSecondary;
    transform: rotate(45deg);
  }

  p {
    color: $cSecondary;
    border-top: 1px solid #333;
    display: inline-block;
    padding-top: 10px;
    font-size: 1.4rem;
  }
}

.tac {
  text-align: center;
}

.bar {
  list-style: none;
  margin: 0 0 50px 0;
  overflow: hidden;
  padding: 0;

  li {
    display: inline-block;
    text-align: center;
    position: relative;

    span {
      padding: 5px;
      background: $cAction;
      border-right: 1px solid #fff;
      color: #fff;
      display: block;
      font-size: 2rem;
    }

    .text {
      font-size: 1.3rem;
      border: none;
      padding: 0;
    }

    p {
      position: absolute;
      font-size: 1.3rem;
      bottom: -51px;
      font-size: 1.3rem;
      left: 40%;
    }
  }
}

.w-10 {
  width: 10%;
}

.w-40 {
  width: 40%;
}

// TEMP
.game-link {
  float: left;
  margin: 30px;
}
.example {
  float: right;
  margin: 30px;

  table {
    font-size: 12px;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
}

.container {
  overflow: hidden;
}

.home {
  clear: both;
}