//-------------------------//
//-----> Variables
//-------------------------//

// Color Palette
$cPrimary: #3f4041;
$cSecondary: #f5f6f7;
$cSecondaryText: #d2d2d2;
$cAction: #527435;
$cAction2: #86be40;
$cAction3: #bfd988;
$cW: #ffffff;
$cLost: #9B3800;

// Spacing and Columns
$lColSpace: 90px;

// Font Stack
$fPrimary: 'Nunito Sans', sans-serif;

